div#accordion
  each hood in pageData.hoods
    h3 hood.name
    div.places
      div#map
      div.placeOverflow.col-md-5.pull-right
        each place in hood.places
          summary.col-md-10.pull-left.place
            div
              h4 #{place.name}
              h6 #{place.category}
              review "#{place.description}"
              details
                | #{place.address} <br>
                | (206) #{place.phone}
              a(href='/places/' + place.id)#reviewsLink Reviews



script.

  $(function() {
    $( "#accordion" ).accordion();
  });

  $("#easyNav a").click(function(event) {

    var hood = parseInt(($(event.target).parent())[0].id);

    var divPosition = $('h3:nth-of-type(' + (hood + 1) + ')').offset();
    $('html, body').animate({scrollTop: (divPosition.top - 500)}, "slow");

    $( "#accordion" ).accordion({active: hood});




    console.log(divPosition.top)
  });
