div#accordion
  each index, key in pageData
    h3 #{ key }
    div.places.container
      div#map
      div.placeOverflow
        each place in index
          summary.col-md-10.pull-left.place
            div
              h4 #{place.name}
              h6 #{place.category}
              review "#{place.description}"
              details
                | #{place.address} <br>
                | (206) #{place.phone}
              a(href='/places/' + place.id)#reviewsLink Reviews



script.

  $(function() {
    $( "#accordion" ).accordion();
  });

  $("#easyNav a").click(function(event) {

    var hood = parseInt(($(event.target).parent())[0].id);

    var divPosition = $('#accordion').offset();
    $('html, body').animate({scrollTop: (divPosition.top)}, "slow");

    $( "#accordion" ).accordion({active: hood});




    console.log(divPosition.top)
  });
