div#accordion
  each hood in pageData.hoods
    h3=hood.name
    div.places.container
      div#map
      div.placeOverflow
        each place in hood.places
          summary.place
              h4 #{place.name}
              h6 #{place.category}
              div#placeDesc "#{place.description}"
              details
                | #{place.address} <br>
                | (206) #{place.phone}
              a(href='/places/' + place.id)#reviewsLink Reviews



script.

  $(function() {
    $( "#accordion" ).accordion();
  });
