div#accordion
  each index, key in pageData
    h3 #{ key }
    div.places
      each place in index
        summary.col-md-8.pull-left.place
          div.col-md-6
            h4 #{place.name}
            h6 #{place.category}
            review "#{place.description}"
            details
              | #{place.address} <br>
              | (206) #{place.phone}
            a(href='/places/' + place.id)#reviewsLink Reviews
        sumary.col-md-4

  div#map        
script.

  $(function() {
    $( "#accordion" ).accordion();
  });

  $("#easyNav a").click(function(event) {

    var hood = parseInt(($(event.target).parent())[0].id);

    var divPosition = $('h3:nth-of-type(' + (hood + 1) + ')').offset();
    $('html, body').animate({scrollTop: (divPosition.top - 500)}, "slow");

    $( "#accordion" ).accordion({active: hood});




    console.log(divPosition.top)
  });
