script.
  $(function() {
    $( "#accordion" ).accordion();
  });
div#accordion
  each places, hood in pageData
    h3=hood
    div.places
      each place in places
        div
          a(href=`/places/${place.id}`) #{place.name}
          p #{place.address}, #{place.phone}
          p #{place.category}
          p #{place.description}
