
div#accordion
  each hood in pageData.hoods
    input(type='hidden' class='hoodLat' value=hood.lat)
    input(type='hidden' class='hoodLong' value=hood.long)
    h3.hoodz=hood.name
    div.places.container
      div.placeOverflow
        each place in hood.places
          summary.place
              input(type='hidden' name=place.name class='placeLat' value=place.lat)
              input(type='hidden' name=place.name class='placeLong' value=place.long)
              input(type='hidden' class='name' value=place.name)
              h4 #{place.name}
              h6 #{place.category}
              div#placeDesc "#{place.description}"
              details
                | #{place.address} <br>
                | (206) #{place.phone}
              p
                a(href='/places/' + place.id) Reviews for #{place.name}
              p
                button(lat=place.lat long=place.long name=place.name).find-on-map Find on map

script(src="/javascript/accordion-map.js")
