extends ../layout.pug

block content

  script(src="/javascript/places/index.js")

  section.container.h
    aside
      h5.theStranger All content Owned and Produced by <br> #[a(href="http://www.thestranger.com/") The Stranger]
      img(src='/assets/pass-theSauce-logo.png')#logo

      header#login

        if user
          p
            a(href='/') Home
          p
          | Welcome, #{user.displayName}
        else
          p
            a(href='/') Home
          p
            a(href="/auth/facebook") Login with Facebook

    main
      section#sauce
        h2 #{place.name}
        h3 #{place.category}
        p #{place.address}, (206) #{place.phone}
        p "#{place.description}"
        if isNaN(place.avgRating)
          p Average rating: No ratings
        else
          p Average rating: #{place.avgRating}
        div.container.v#comments
          h3 Comments
          if user
            if pageData.review
              form.container.v(method="POST" action=(`/places/${place.id}?_method=PUT`))
                textarea(name="comment")=pageData.review.comment
                span Rating:
                select(name="rating")
                  option(value=1 selected = (pageData.review.rating === 1)) 1 - (Terrible)
                  option(value=2 selected = (pageData.review.rating === 2)) 2
                  option(value=3 selected = (pageData.review.rating === 3)) 3 - (Average)
                  option(value=4 selected = (pageData.review.rating === 4)) 4
                  option(value=5 selected = (pageData.review.rating === 5)) 5 - (Awesome)
                button Submit
            else
              form.container.v(method="POST" action=(`/places/${place.id}`))
                textarea(name="comment")
                span Rating:
                select(name="rating")
                  option(value=1) 1 - (Terrible)
                  option(value=2) 2
                  option(value=3) 3 - (Average)
                  option(value=4) 4
                  option(value=5) 5 - (Awesome)
                button Submit
          else
            section
              | Please login to make comments
          each comment in comments
            div.container.h.comment
              img(src=comment.pic_url alt="Profile picture for commenter")
              div.review
                p=comment.comment
                p Rating: #{comment.rating}
