extends ../layout.pug

block content

  script(src="/javascript/places/index.js")
  section.col-md-12
    aside
      img(src='/assets/pass-theSauce-logo.png')#logo.fixed

    main.col-md-12.pull-right

      header#login.row.text-right

        if user
          img(src=user.picUrl, alt="Facebook profile picture")
          p Welcome #{user.displayName}
        else
          a(href="/auth/facebook") Login with Facebook

      section#sauce.row1
        h2 #{place.name}
        p #{place.address}, #{place.phone}
        p #{place.category}
        p "#{place.description}"
        div#comments
          h3 Comments
          if user
            if pageData.review
              form(method="POST" action=(`/places/${place.id}?_method=PUT`))
                textarea(name="comment")=pageData.review.comment
                span Rating:
                select(name="rating")
                  option(value=1 selected = (pageData.review.rating === 1)) 1 - (Terrible)
                  option(value=2 selected = (pageData.review.rating === 2)) 2
                  option(value=3 selected = (pageData.review.rating === 3)) 3 - (Average)
                  option(value=4 selected = (pageData.review.rating === 4)) 4
                  option(value=5 selected = (pageData.review.rating === 5)) 5 - (Awesome)
                button Submit
            else
              form(method="POST" action=(`/places/${place.id}`))
                textarea(name="comment")
                span Rating:
                select(name="rating")
                  option(value=1) 1 - (Terrible)
                  option(value=2) 2
                  option(value=3) 3 - (Average)
                  option(value=4) 4
                  option(value=5) 5 - (Awesome)
                button Submit
          each comment in comments
            div.comment
              img(src=comment.pic_url alt="Profile picture for commenter")
              div.review
                p=comment.comment
                p Rating: #{comment.rating}

      footer.row
        p.text-center All Content Owned by The Stranger
